body {
  margin: 50;
  font-family: 'Times New Roman', Times, serif;
  font-size: 100%;
  font-weight: 400;
  line-height: normal;
  color: black;
  text-align: justify;
  background-color: blanchedalmond;
}